:root {
  /* 基本カラーパレット */
  --brown-dark: #423734;
  --beige: #c8c0b2;
  --gray-light: #f5f5f5;
  --gray: #c6c6c8;
  --green: #174b4c;
  --white: #ffffff;
  --cream: #f7f6f4;
  --orange: #e89528;
  --yellow-highlight: #f5e479;
  --black: #000000;
  --blue-black: #0a1818;

  /* グリーン系バリエーション */
  --green-teal: #226b54;
  --green-slate: #22536b;
  --green-cyan: #226a6b;
  --green-forest: #3f7351;
  --green-navy: #3d5787;
  --green-sage: #466a6b;
  --green-olive: #668b45;
  --green-dark: #306418;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

.section-header {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
  padding-top: 40px;
}

.section-title {
  display: flex;
  flex-direction: row;
  gap: 12px;
  font-size: 32px;
  font-weight: bold;
  color: var(--green);
  letter-spacing: 0.3rem;
}

.section-description {
  font-size: 20px;
  font-weight: normal;
  color: var(--blue-black);
  letter-spacing: 0.15rem;
  line-height: 32px;
  text-align: center;
}

/* =====  ===== */
@media (max-width: 1024px) {
  /* ===== ヘッダー ===== */
  .clinic-logo {
    gap: 8px;
  }
  .clinic-logo p {
    font-size: 18px;
  }
  .clinic-logo img {
    width: 32px;
  }

  .schedule-label {
    width: -webkit-fill-available;
  }

  .schedule-label p {
    font-size: 11px;
    width: auto;
  }

  /* ===== ヒーローセクション ===== */
}

/* ===== ヒーローセクション ===== */
.hero-bg {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(219, 238, 197, 0.6) 22%,
    rgba(146, 188, 97, 0.72) 62%
  );
}

.flag-container {
  position: relative;
  width: 100px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flag-image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.flag-text {
  position: relative;
  z-index: 2;
  color: white;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
  top: -10px;
}

.hero-right img {
  height: -webkit-fill-available;
}

/* ===== 受診メリット ===== */
.merit-container {
  position: relative;
  width: 1000px;
  height: 700px;
  margin: 0px auto;
}

.merit-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 630px;
  height: 610px;
  border: 16px solid white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.merit-circle {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 12px 0px 30px 0px;
  color: white;
  gap: 14px;
}

.merit-icon {
  width: 60px;
  height: 60px;
}

.merit-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.15em;
  margin: 0;
}

.merit-description {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: 0.18em;
  margin: 0;
}

.merit-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  z-index: 3; /* 白い円より前面に */
}

.merit-center-icon {
  width: 180px;
  height: auto;
}

.merit-center-text {
  position: relative;
  display: inline-block;
}

.merit-title-text {
  font-size: 32px;
  font-weight: bold;
  line-height: 60px;
  letter-spacing: 0.24em;
  color: var(--black);
  position: relative;
  z-index: 1;
  bottom: 38px;
}

.merit-underline {
  background-color: var(--orange);
  height: 20px;
  width: 115%;
  border-radius: 8px;
  position: absolute;
  bottom: 0px;
  left: 48%;
  transform: translateX(-50%);
  top: 0px;
}

.merit-circle:nth-child(2) {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.merit-circle:nth-child(3) {
  position: absolute;
  top: 100px;
  right: 80px;
}

.merit-circle:nth-child(4) {
  position: absolute;
  bottom: 100px;
  right: 80px;
}

.merit-circle:nth-child(5) {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.merit-circle:nth-child(6) {
  position: absolute;
  bottom: 100px;
  left: 80px;
}

.merit-circle:nth-child(7) {
  position: absolute;
  top: 100px;
  left: 80px;
}

/* ===== 人間ドック内容・料金 ===== */
.card-container {
  border: 2px solid var(--gray);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--white);
  width: 100%;
  max-width: 85%;
}

/* ===== 人間ドックの流れ ===== */
.flow-step {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}

.step-marker {
  position: relative;
  margin-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: -webkit-fill-available;
  z-index: 1;
}

.step-marker::after {
  content: "";
  position: absolute;
  left: 8px;
  top: 0px;
  width: 4px;
  height: 165px;
  background-color: white;
  z-index: -1;
}

.step-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  flex-shrink: 0;
}

.step-line {
  width: 60px;
  height: 4px;
  margin-left: 0px;
}

.step-content {
  flex: 1;
  border: 2px solid var(--green);
  border-radius: 8px;
  padding: 16px 24px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.step-title {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.15rem;
  line-height: 32px;
}

.step-description {
  font-size: 18px;
  letter-spacing: 0.12rem;
  line-height: 32px;
}

/* ===== よくある質問 ===== */
.faq-container {
  border: 2px solid var(--gray-light);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 75%;
}
